table,
td {
    /* border: 1px solid #333; */
    background:#96d6fc;
    padding: 15px;
}
th {
    /* border: 1px solid #333; */
    color: #88CFF9;
    background: white;
    padding: 10px;
    text-align: left;
}

thead,
tfoot {
    background-color: #88CFF9;
    color: #fff;
}
